/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

body {
    background-color: #f4f3f3;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body * {
    color: #494949;
    font-family: Montserrat, sans-serif;
}

#main-nav {
    background-color: #f4f3f3;
    height: 8%;
}

h1 {
    color: #494949;
}