#chat-feed {
    height: 95%;
    border: 1px solid #E7E6E6;
    border-radius: 4px;
    margin: 0px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    background-color: #fcfaf2;
}

#chat-form {
    height: 5%;
}

#main-row {
    height: 90vh;
}