<div class="container-fluid" id="main-container">
  <div class="row full-height">
      <div class="col-2 full-height">
        <app-chat-channels></app-chat-channels>
      </div>
      <div class="col-8 full-height">
        <div class="row" id="chat-feed">
          <app-chat-feed></app-chat-feed>
        </div>
        <div class="row" id="chat-form">
          <div class="col-12 p-0">
            <app-chat-form></app-chat-form>
          </div>
        </div>
      </div>
      <div class="col-2 full-height">
        <app-chat-members></app-chat-members>
      </div>
  </div>
</div>