<nav class="navbar navbar-expand-lg navbar-light" id="main-nav">
  <a class="navbar-brand" href="#"><h1>iChat</h1></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
    <!--<app-profile></app-profile>-->
  </div>
</nav>
<div class="container-fluid" id="main-container">
  <div class="row" id="main-row">
      <div class="col-2">
        <app-chat-channels></app-chat-channels>
      </div>
      <div class="col-8">
        <div class="row overflow-auto" id="chat-feed">
          <app-chat-feed></app-chat-feed>
        </div>
        <div class="row" id="chat-form">
          <app-chat-form></app-chat-form>
        </div>
      </div>
      <div class="col-2">
        <app-chat-members></app-chat-members>
      </div>
  </div>
</div>