.channel-menu {
    height: 100%;
    background-color: #dfdfdf;
}

.selected * {
    background-color: #a3a3a3;
}

.unselected * {
    background-color: #dfdfdf;
}

.igroup {
    width: 100%;
    margin: 1% 0% 1% 0%;
}

.all-width {
    width: 100%;
}

.channel-button {
    width: 2.2vw;
}

.channel-img {
    width: 100%;
    min-width: 10px;
}

.co-dot {
    width: 1vw;
}