<div class="shadow mb-0 rounded row channel-menu overflow-auto">
  <div class="col-12">
    <div class="form-inline">
      <div class="input-group m-3">
        <input class="form-control" [(ngModel)]="newRoom" (keyup)="$event.keyCode == 13 && createRoom()" placeholder="New Channel">
        <button class="btn channel-menu" (click)="createRoom()"><img src="assets/add.png" width="20"></button>
      </div>
    </div>
    <div *ngFor="let room of rooms" class="input-group m-1 all-width">
      <div class="input-group-append igroup all-width">
        <div class="button-group">
          <button class="btn channel-menu" (click)="join(room)">
            <span *ngIf="joinedRooms.includes(room)">
              <img src="assets/green-dot.png" class="co-dot">
            </span>
            <span *ngIf="!joinedRooms.includes(room)">
              <img src="assets/red-dot.png" class="co-dot">
            </span>
            {{room}}
          </button>
        </div>
        <button class="btn channel-menu channel-button" (click)="openDialog(room)"><img src="assets/pencil.png" class="channel-img"></button>
        <button class="btn channel-menu channel-button" (click)="leave(room)"><img src="assets/leave.png" class="channel-img"></button>
        <button class="btn channel-menu channel-button" (click)="delete(room)"><img src="assets/delete.png" class="channel-img"></button>
      </div>
    </div>
  </div>
</div>